* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Oswald", sans-serif; */
  background-image: linear-gradient(
    to bottom right,
    white,
    rgb(117 16 247 / 75%)
  );
  /* background-image: linear-gradient(white, rgb(117, 16, 247)); */
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  min-height: 100vh;
  overflow-y: auto;
  padding: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid rgb(116 17 247 / 25%);
  padding-bottom: 0.5rem;
  box-shadow: 5px 10px #6617ae3d;
}
.main-page {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info-card-box {
  border: 1px solid azure;
  width: 85%;
  box-shadow: 5px 10px #6617ae3d;
}

.top-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.center {
  display: flex;
  align-items: center;
}

.city-img {
  width: 25%;
  margin-right: 10px;
}

.sky-info {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}
.days-container {
  display: flex;
  justify-content: space-evenly;
  margin: 110px 0px 30px 0px;
}

.single-day {
  border: 2px solid black;
  height: 10rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-day * {
  margin: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favs-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10rem;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  width: 18rem;
  min-height: 250px;
  margin: 5rem 1rem 0rem 1rem;
}

.user-input {
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 45%;
  display: block;
  /* border-bottom: 0.3rem solid transparent; */
  transition: all 0.3s;
  box-shadow: 5px 5px #6617ae3d;
}

.autocomplete-container {
  position: absolute;
  top: 64px;
  width: 496px;
  border: 1.5px solid rgb(117 16 247 / 25%);
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  border-radius: 7px;
  background: #ffffffd1;
  color: rgb(141 32 209);
  box-shadow: 5px 5px 19px;
}

.autocomplete-span {
  text-align: center;
  margin: 4px 0px 2px 0px;
  font-size: 19px;
}
.autocomplete-span:hover {
  background-color: azure;
  border-radius: 2px;
  color: black;
  cursor: pointer;
}
