* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    white,
    rgb(117 16 247 / 75%)
  );
  /* background-image: linear-gradient(white, rgb(117, 16, 247)); */
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  min-height: 100vh;
  overflow-y: auto;
  padding: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-page {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card-box {
  border: 2px solid black;
  width: 85%;
}

.top-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.center {
  display: flex;
  align-items: center;
}

.city-img {
  width: 25%;
  margin-right: 10px;
}

.sky-info {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}
.days-container {
  display: flex;
  justify-content: space-evenly;
  margin: 110px 0px 30px 0px;
}

.single-day {
  border: 2px solid black;
  height: 10rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-day * {
  margin: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favs-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10rem;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  width: 18rem;
  min-height: 250px;
  margin: 5rem 1rem 0rem 1rem;
}
