* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  ); */
  padding: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-page {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card-box {
  border: 2px solid black;
  width: 85%;
}

.top-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.center {
  display: flex;
  align-items: center;
}

.city-img {
  width: 25%;
  margin-right: 10px;
}

.sky-info {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}
.days-container {
  display: flex;
  justify-content: space-evenly;
  margin: 110px 0px 30px 0px;
}

.single-day {
  border: 2px solid black;
  height: 10rem;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
